<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="pull-left">
      Data channel: <div {{bind-attr class=":status isDataChannelOpened:status-on:status-off"}}></div>
    </div>
    <div class="pull-right">
      Voice recognition: <div {{bind-attr class=":status isSpeechRecognitionActive:status-on:status-off"}}></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="language-select pull-left">
      {{view Ember.Select content=languages value=localSpeechLanguage}}
      <div><img {{bind-attr src="localFlagName"}} /></div>
    </div>

    <div class="pull-right">
      {{remoteSpeechLanguage}}
      <div><img {{bind-attr src="remoteFlagName"}} /></div>
    </div>
  </div>
</div>

<div class="row">
  <div {{bind-attr class=":col-md-4 :col-md-offset-4 :videos isRemoteVideo:remote-video-on:remote-video-off"}}>
    <div id="remote-video" class="text-center"></div>
    <div id="local-video" class="text-center"></div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 chat">
    {{#each}}
      <div {{bind-attr class=":message isRemote:remote:local"}}>
        <div class="content-wrapper">
          <span {{bind-attr class=":content :original-content originalContent:visible:hidden"}}>
            {{this.formattedOriginalContent}}
          </span>
        </div>
        <div class="content-wrapper">
          <span {{bind-attr class=":content :translated-content translatedContent:visible:hidden"}}>
            {{this.translatedContent}}
          </span>
        </div>
      </div>
    {{/each}}
  </div>
</div>
