<div class="row">
  <div class="col-sm-3 text-center">
    <div class="language language-local">
      <div class="language-select">
        {{view Ember.Select content=languages value=localSpeechLanguage}}
        <div {{bind-attr class=":flag localFlagName"}}></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 text-center">
    <div {{bind-attr class=":videos isRemoteVideo:remote-video-on:remote-video-off"}}>
      <div id="local-video"></div>
      <div id="remote-video"></div>
    </div>
    {{start-speech-recognition-button language=localSpeechLanguage stream=localMediaStream}}
  </div>
  <div class="col-sm-3 text-center">
    <div class="language language-remote">
      <div>
        {{remoteSpeechLanguage}}
        <div {{bind-attr class=":flag remoteFlagName"}}></div>
      </div>
    </div>
  </div>
</div>


<div class="chat">
  {{#each}}
    <div {{bind-attr class=":message isRemote:remote:local"}}>
      <div class="content-wrapper">
        <span {{bind-attr class=":content :original-content originalContent:visible:hidden"}}>
          {{{this.formattedOriginalContent}}}
        </span>
      </div>
      <div class="content-wrapper">
        <span {{bind-attr class=":content :translated-content translatedContent:visible:hidden"}}>
          {{{this.translatedContent}}}
        </span>
      </div>
    </div>
  {{/each}}
</div>
