<div class="row">
  <div class="col-sm-3 text-center">
    <div class="language language-local">
      <div class="language-select">
        {{language-select content=languages action=(action (mut localSpeechLanguage))}}
        <div class="flag {{localFlagName}}"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 text-center">
    <div class="videos {{if isRemoteVideo 'remote-video-on' 'remote-video-off'}}">
      <div id="local-video"></div>
      <div id="remote-video"></div>
    </div>
    {{start-speech-recognition-button language=localSpeechLanguage stream=localMediaStream}}
  </div>
  <div class="col-sm-3 text-center">
    <div class="language language-remote">
      <div>
        {{remoteSpeechLanguage}}
        <div class="flag {{remoteFlagName}}"></div>
      </div>
    </div>
  </div>
</div>

{{#message-list messages=messages}}
  {{#each messages as |message|}}
    <div class="message {{if message.isRemote 'remote' 'local'}}">
      <div class="content-wrapper">
        <span class="content original-content {{if message.originalContent 'visible' 'hidden'}}">
          {{{message.formattedOriginalContent}}}
        </span>
      </div>
      <div class="content-wrapper">
        <span class="content translated-content {{if message.translatedContent 'visible' 'hidden'}}">
          {{{message.translatedContent}}}
        </span>
      </div>
    </div>
  {{/each}}
{{/message-list}}
